<div id="home">
  <div id="nav" class="clearfix">
    <a href="#about" class="nav" target="_self">ABOUT</a>
    <a href="#resume" class="nav" target="_self">RESUME</a>
    <a href="#work" class="nav" target="_self">PROJECTS</a>
    <a href="#contact" class="nav" target="_self">CONTACT</a>
  </div>
  <h1 id="name">YAEL AMIR</h1>
</div>
<div id="about">
  <h2>ABOUT</h2>
  <p>Hi, my name is Yael Amir and I am a
  full stack web developer.</p>
  <a href="#nav" class="hoverable" target="_self"><i class="material-icons">keyboard_arrow_up</i></a>
</div>
<div id="resume">
  <h2>RESUME</h2>
  <h3>Skills</h3>
  <ul>
    <li>Languages/Libraries: Javascript | CSS | HTML5 | jQuery | Ruby |
        Mongoose | Node.js</li>
    <li>Frameworks: Angular.js | Ruby on Rails | Express.js | Ionic |
        Bootstrap | Materialize</li>
    <li>Technologies: Git | HTML5 Canvas | Socket.io | gulp.js | Responsive
        Design</li>
    <li>Database: PostreSQL | MongoDB</li>
    <li>Other: Github | RESTful APIs | AWS | SPA development | Auth | Agile
        Development | Scrum</li>
  </ul>
  <h3>Bootcamp</h3>
  <h4>General Assembly | Web Development Immersive</h4>
  <p>January 2016 ­- April 2016</p>
  <p>General Assembly's Web Development Immersive program is a twelve week
     course that teaches and applies full­stack web development skills through
     800+ hours of instruction, coding, and projects. The immersive course
     involves the development and completion three individual projects and
     one group project all utilizing the Agile development methodology and
     completed within one week sprints.</p>
  <h3>Experience</h3>
  <h4>Sephardic Temple | Preschool Teacher & Hebrew Teacher</h4>
  <p>December 2014 ­- January 2016</p>
  <ul>
    <li>Created and conducted lesson plans and activities</li>
    <li>Facilitated the creation of a learning environment by maintaining
        a calm and patient demeanor, working effectively with difficult
        situations, and ensuring a safe, comfortable, and fun learning
        environment</li>
  </ul>
  <h4>ETTA | Life Skills Coach</h4>
  <p>May 2012 ­- December 2014</p>
  <ul>
    <li>Implemented individualized program for each adult with developmental
        disabilities</li>
    <li>Collaborated with teachers and parents to meet objectives</li>
  </ul>
  <h4>Bais Chana | Inclusion Aid</h4>
  <p>September 2011 ­- May 2012</p>
  <ul>
  <li>Worked one on one with student with developmental and learning
      disabilities</li>
  <li>Utilized tools and techniques to foster special education student
      growth, life skills, resource, and inclusion</li>
  </ul>
  <h3>Education</h3>

  <h4>Excelsior College | Bachelor’s of Science in Liberal Arts</h4>
  <p>October 2013 - Current</p>
  <p>With an emphasis in Mathematics</p>
  <p>Degree in progress online, estimated graduation date: November 2016</p>
  <h4>Santa Monica College</h4>
  <p>February 2009 ­- June 2012</p>
  <p>Relevant Courses: Intro to CS | C | Java</p>
</div>
<div id="work">
  <h2>PROJECTS</h2>
  <div id="projects">
    <md-grid-list md-cols="4" md-cols-sm="2" md-cols-md="4" md-cols-lg="4" md-row-height="4:2">
      <md-grid-tile>
        <div ng-click="showBrick = !showBrick" id="brick-breaker"></div>
      </md-grid-tile>
      <md-grid-tile>
        <div id="gitlove"></div>
      </md-grid-tile>
      <md-grid-tile>
        <div id="vurs"></div>
      </md-grid-tile>
      <md-grid-tile>
        <div id="juicy"></div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
<div id="contact">
  <h2>CONTACT</h2>
  <!-- <img src="http://wattsand.com/images/linkedin.png" alt="linkdin"> -->
  <!-- <img src="http://wattsand.com/images/email.png" alt="email"> -->
  <!-- <i class="material-icons">email</i> -->
  <md-grid-list md-cols="4" md-row-height="4:4">
    <div id="icons">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/120px-Octicons-mark-github.svg.png" alt="github">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRJkD9szwADkk5StNE8eInvSXj8junYSA-GOScFG_CbRoC-toVaEc3AnfBS" alt="linkdin">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSmQLqgqju6SHZqvh_FnMntjd3yT9qJItDQG-P6b23U66oYLvjMlZRV7UI" alt="email">
      <div ng-click="showPhone = !showPhone"><img src="https://cdn1.iconfinder.com/data/icons/phones-2/512/phone_symbol_1-128.png" alt="phone"></div>
      <div ng-click="showAddress = !showAddress"><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/v1/202290/home-icon-strikingly_f7wi0x.png" alt="address"></div>
      <div ng-show="showAddress"><p>111 West 7th Street</p></div>
      <div ng-show="showPhone"><p>323-308-9801</p></div>
    </div>
  </md-grid-list>
</div>













