/*---------all----------*/


* {
  /*font-weight: 200;*/
}

body {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Raleway', sans-serif;*/
}

h1 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .2em;
  font-size: 84px;
  font-weight: 100;
  text-align: center;
  color: white;
  margin-top: 0;
  padding-top: 0;
}
h2 {
  letter-spacing: 1em;
  font-size: 24px;
  font-weight: 300 !important;
  /*margin: 0 0 0 5%;*/
  padding-bottom: 2%;
  color: black !important;
  overflow: hidden;
}

h3 {
  letter-spacing: 0.5em;
  font-size: 20px;
  font-weight: 300 !important;
  color: black !important;
  /*margin: 0 0 0 5%;*/
  /*padding-bottom: 2%;*/
}

h4 {
  letter-spacing: 0.2em;
}

.material-icons {
  width: 40px;
  height: 40px;
  line-height: 40px;
  /*text-align: center;*/
  border-radius: 50%;
  color: black;
  font-weight: 900 !important;
  /*text-align: center;*/
  font-size: 40px !important;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  display: inline-block;
  margin: 5px;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

/*---------landing----------*/

#nav {
  width: 100%;
  text-align: center;
  background-color: rgba(20, 20, 20, 0);
  /*opacity: 0;*/
  /*background: rgba(0,0,0,0.2);*/
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  /*-webkit-padding-start: 30px;*/
  /*padding-bottom: 15px;*/
  /*margin-top: 0;*/
  padding-top: 30px;
  margin: 0 auto;
  z-index: 100;
  /*font-weight: 200;*/
  /*color: white !important;*/
  /*overflow: visible !important;*/
  /*font-weight: 200 !important;*/
  scroll-behavior: smooth;
}

#name {
  padding-top: 50px;
  padding-left: 35px;
}

#nav a {
  font-size: 1.2em;
  margin: 0 35px;
  font-weight: 300;
  /*font-weight: lighter;*/
  /*background-color: transparent;*/
  /*color: black !important;*/
}

#nav a:hover {
  /*color: #ADC3F2 !important;*/
  color: black !important;
}

.material-icons:hover {
  background-color: #111E3D !important;
  /*opacity: */
  color: white !important;
}

a:link {
  text-decoration: none;
}

a.md-default-theme:not(.md-button),
a:not(.md-button) {
  color: white;
  line-height: 30px;
}

#home {
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/PlJZuna.png");
  /*height: 500px;*/
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /*padding-top: 10%;*/
  padding-bottom: 50%;
  margin: 0 auto;
}

/*---------about----------*/

#about {
  padding-top: 1%;
  font-size: 14px;
  /*padding-top: 0;*/
  /*padding: 2%;*/
  box-sizing: border-box;
  /*color: black !important;*/
  color: #808080;
  /*font-weight: 400 !important;*/
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 1px;
  /*line-height: 5px;*/
  /*display: block;*/
  padding-bottom: 40px;
}

/*---------resume----------*/

#resume {
  background-color: white;
  font-size: 14px;
  padding: 2%;
  box-sizing: border-box;
  /*color: black !important;*/
  /*font-weight: 400 !important;*/
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.8em;
  color: #777777;
}

/*---------projects----------*/

#work {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 2%;
  box-sizing: border-box;
  /*color: black !important;*/
  /*font-weight: 400 !important;*/
  text-align: left;
  color: #808080;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.8em;
  /*overflow: scroll;*/
  /*height: 900px;*/
  margin-bottom: 70px;
  overflow: scroll;
}

#projects {
  display: inline;
  /*overflow: scroll;*/
  float: bottom;
  padding-bottom: 5px;
  padding-left: 10px;
}

.links {
  color: #111E3D !important;
  text-align: center;
  padding: 20px;
}

.links:hover {
  color: #808080 !important;
}

.projs {
  height: 137px;
  width: 250px;
}

md-card {
  text-align: center;
  margin-bottom: 5px;
  margin-top: auto;
}

md-card > img {
  box-shadow: 0 0 5px 1px rgba(0,0,0,.35);
}

/*---------contact----------*/

#contact {
  background-color: white;
  padding: 1%;
  box-sizing: inherit;
  /*font-weight: 400 !important;*/
  text-align: left;
  color: black !important;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.8em;
  width: 100%;
  /*position: fixed;*/
}

img {
  height: 50px;
  width: 50px;
}

img:hover {
  opacity: 0.2;
}

#icons {
  display: table-caption;
  padding: 20px;
  text-align: center;
}

#phone {
  margin: 2px 4px 0 4px;
}

#gitbub {
  margin-bottom: 1px;
}

#address {
  margin-left: 2px;
  margin-top: 2px;
}

img.smaller-icon {
  height: 55px;
  width: auto;
}

#shows {
  /*display: inline;*/
  position: absolute;
  top: 20%;
  left: 400;
  color: #808080 !important;
  width: 450px;
  height: 100px;
  margin-left: 350px;
  text-align: left;
}

#addy {
  padding-top: 10px !important;
  float: left;
}

#numba {
  padding-top: 10px !important;
  float: right;
}
