* {
  font-weight: 100;
}

body {
  font-family: 'Lato', sans-serif;
}

#nav {
  width: 100%;
  text-align: center;
  background-color: white;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  /*-webkit-padding-start: 30px;*/
  padding-bottom: 15px;
  margin-top: 0;
  padding-top: 15px;
  margin: 0 auto;
  z-index: 100;
  color: black !important;
}

#nav a {
  font-size: 1.2em;
  margin: 20px;
  font-weight: lighter;
  /*background-color: transparent;*/
  color: black !important;
}

#nav a:hover {
  color: #ADC3F2 !important;
}

#nav a:active {
    color: blue !important;
}

a:link {
    text-decoration: none;
}

a.md-default-theme:not(.md-button),
a:not(.md-button) {
  color: black !important;
  line-height: 30px;
}

h1 {
  letter-spacing: .2em;
  font-size: 84px;
  font-weight: 100;
  text-align: center;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

#home {
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/PlJZuna.png");
  /*height: 500px;*/
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 10%;
  padding-bottom: 50%;
  margin: 0 auto;
}

#about {
  background-color: #DAD6D8;
  padding: 5% 0;
}
